@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=JetBrains+Mono:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply h-full w-full bg-[#090a0f] text-slate-200 overflow-hidden select-none font-sans;
  }
}

@layer utilities {
  .app-drag {
    -webkit-app-region: drag;
  }

  .app-no-drag {
    -webkit-app-region: no-drag;
  }

  .bg-grid-pattern {
    background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.05) 1px, transparent 0);
    background-size: 24px 24px;
  }

  .cyber-glass {
    @apply bg-white/[0.03] backdrop-blur-2xl border border-white/10;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
  }

  .font-mono-tech {
    font-family: 'JetBrains Mono', monospace;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/10 hover:bg-white/20 rounded-full transition-colors;
}